<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

</head>

<body>

    <div id="app">
        <div class="container">
            <div class="my-3">
                <button type="button" class="btn btn-outline-primary" @click="status = !status">
                    切換照片
                </button>
                現在照片: <span v-if="status">清晰</span>
                 <span v-else>模糊</span>
            </div>
            <div class="row">
                <div v-for="item in data" class="col-md-4 mb-3">
                    <div class="card">
                        <div class="position-absolute" style="right: 20px;top: 10px;">
                        <button type="button" class="btn btn-outline-danger rounded-pill" @click="item.favorite=!item.favorite">
                            <i v-if="!item.favorite" class="bi bi-heart"></i>
                            <i v-else class="bi bi-heart-fill"></i>
                        </button>
                    </div>
                    <img v-if="status" :src="item.picture.large" class="card-img-top" alt="">
                    <img v-else :src="item.picture.thumbnail" class="card-img-top" alt="">
                        <div class="card-body">
                            <h5 class="card-title">{{ item.name.title }} {{ item.name.first }} {{ item.name.last }} 
                                <span v-if=" item.gender === 'male'">
                                    👦🏻<i class="bi bi-gender-male"></i>
                                </span>
                                <span v-else=" item.gender === 'female'">
                                    👧🏻<i class="bi bi-gender-female"></i>
                                </span></h5>
                            
                            <p class="card-text">
                                Email: <a :href=`mailto:${item.email}`>{{ item.email}}</a>
                            </p>
                            <p class="card-text">
                                Phone: <a :href=`tel:${item.phone}`>{{ item.phone}}</a>
                            </p>
                            <p class="card-text">
                                Cell:{{item.cell}}
                            </p>
                            <p class="card-text">
                                City: {{ item.location.city}}
                            </p>
                            <p class="card-text">
                                State: {{ item.location.state}}
                            </p>
                            <p class="card-text">
                                Country: {{ item.location.country}}
                            </p>
                            <p class="card-text">
                                Postcode: {{ item.location.postcode}}
                            </p>
                            <p class="card-text">
                                Address: <a :href=`https://www.google.com/maps/search/${item.location.state}${item.location.country}${item.location.postcode}`>
                                    {{ item.location.city}} {{ item.location.state}} {{ item.location.country}} {{ item.location.postcode}}
                                </a>
                                <iframe width="100%" height="300"
                                :src=`https://maps.google.com.tw/maps?q=${item.location.coordinates.latitude},${item.location.coordinates.longitude}&output=embed&z=10`></iframe>
                            </p>
                            <p class="card-text">
                                description: {{ item.location.timezone.description}}
                            </p>
                            <p class="card-text">
                                dob: {{ short(item.dob.date)}}
                            </p>
                            <p class="card-text">
                                registered: {{ short(item.registered.date)}}
                            </p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- 拿一整包 -->
    <!-- <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script> -->

    <!--  include 你的資料.js 檔-->
    <script src="./data.js"></script>
    <!-- ESModule -->
    <script type="module">
        import { createApp } from 'https://cdnjs.cloudflare.com/ajax/libs/vue/3.3.4/vue.esm-browser.min.js';
        console.log(results);
        const app = createApp({
            data() {
                return {
                    // text: 'AAA',
                    data: [],
                    status:true,
                }
            },
            methods:{
                short(date)
                {
                    return date.substr(0,10);
                },
                fetchdata()
                {
                    let url='http://randomuser.me/api/?results=10';
                fetch(url)
                .then(function(response){
                    return response.json();
                })
                .then((data) => {
                    console.log(data.results);
                    this.data=data.results;
                })
                },
                getdata(){
                    axios.get('http://randomuser.me/api/?results=10')
                    .then((response) => {
                    // handle success
                    this.data=response.data.results;
                    })
                }
            },
            mounted(){
                this.getdata();
            }
        });

        app.mount('#app');
    </script>
</body>

</html>